commands/VetunBan.js
commands/addPoints.js
commands/addalt.js
commands/afkCheck.js
commands/afkTemplate.js
commands/avatar.js
commands/botstatus.js
commands/bruh.js
commands/bugreport.js
commands/changeLog.js
commands/changename.js
commands/characterList.js
commands/check.js
commands/clean.js
commands/commands.js
commands/commend.js
commands/complete.js
commands/crasherList.js
commands/createChannel.js
commands/currentweek.js
commands/drag.js
commands/echo.js
commands/emoji.js
commands/eval.js
commands/excuse.js
commands/expelled.js
commands/falseSuspensions.js
commands/find.js
commands/fixName.js
commands/getFeedback.js
commands/headcount.js
commands/id.js
commands/joinRun.js
commands/keyRoles.js
commands/kick.js
commands/leaderboard.js
commands/leaveGuild.js
commands/list.js
commands/location.js
commands/lock.js
commands/lockdown.js
commands/log.js
commands/manualVerify.js
commands/manualVetVerify.js
commands/memes.js
commands/milestone.js
commands/modmail.js
commands/modmailBlacklist.js
commands/modmailClose.js
commands/modmailRespond.js
commands/motmg.js
commands/mute.js
commands/mutes.js
commands/noNicknames.js
commands/oldAfkCheck.js
commands/parsemembers.js
commands/permaSuspend.js
commands/points.js
commands/poll.js
commands/pop.js
commands/prunerushers.js
commands/pull.js
commands/punishments.js
commands/purge.js
commands/quota.js
commands/reload.js
commands/removeAlt.js
commands/removePending.js
commands/request.js
commands/reset.js
commands/restart.js
commands/roleAssignment.js
commands/russianRoulette.js
commands/script.js
commands/seppuku.js
commands/setStatus.js
commands/setup.js
commands/stats.js
commands/status.js
commands/suspend.js
commands/suspendremove.js
commands/suspends.js
commands/sysinfo.js
commands/tempKeyRemove.js
commands/templates.js
commands/test.js
commands/unlock.js
commands/unlockdown.js
commands/unmute.js
commands/unsuspend.js
commands/unverify.js
commands/unvetverify.js
commands/updateIP.js
commands/verification.js
commands/vetBan.js
commands/vetVerification.js
commands/vibotChannels.js
commands/vote.js
commands/warn.js
commands/warnRemove.js
commands/warns.js
jobs/runner.js
lib/API.js
lib/extensions.js
lib/logCommand.js
lib/logError.js
lib/patreonHelper.js
lib/pointLogger.js
lib/realmEyeScrape.js
lib/sqlHelper.js
lib/types.js
lib/utils.js
commands/archive
