node_modules/
.vs/
settings.json
guildSettings.json
data/afkChecks.json
data/guildSettings.*.cache.json
createdChannels.json
emojis.json
data/emojis.json
data/restart_channel.json
debug.log
.DS_Store
ml/save/
ml/models/
build/